.card {
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    width: 300px;
    min-height: 90%;
}
  
.card-image {
    width: 70%;
    margin-left: 50px ;
    height: 200px;
    object-fit: cover;
    /* margin: auto; */
}
  
.card-content {
    padding: 16px;
    margin-left: 10px;
}
  
.card-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
}
  
.card-description {
    font-size: 1rem; 
    text-align: justify;
}

h1{
    text-align: center;
}

#div{
    margin-left: -190px; 
}

.card-title{
    color: #00B2B0;

}
.card-description{
    color: #2E58A6 !important;
    font-family: cursive !important;
    font-size: 20PX;
}

.tituloServicio{
    color: #00B2B0;
    font-family: cursive !important;
    font-weight: 700;
}

/* FOOTER */

#imagenFooterLb{
    width: 200px;
    height: 100px;
    margin-left: 12%;
    font-family: cursive;
}

#NIT{
    margin-left: 35%;
    margin-top: -60px;
    color: #2E58A6;
    font-size: 20px;
    font-family: cursive;
}

#DERECHOS{
    margin-left: 47%;
    margin-top: -50px;
    color: #2E58A6;
    font-size: 20px;
    font-family: cursive;
}

#ELABORADO{
    margin-left: 70%;
    margin-top: -50px;
    color: #2E58A6;
    font-size: 20px;
    font-family: cursive;
}