.card {
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    width: 300px;
    min-height: 90%;
}
  
.card-image {
    width: 70%;
    margin-left: 50px ;
    height: 200px;
    object-fit: cover;
    /* margin: auto; */
}
  
.card-content {
    padding: 16px;
    margin-left: 10px;
}
  
.card-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
}
  
.card-description {
    font-size: 1rem;    
}

h1{
    text-align: center;
}

#div{
    margin-left: -150px; 
}

.card-title{
    color: blue;

}
.card-description{
    color: #828282(0, 0%, 0.1%) !important;
    font-family: cursive !important;
    font-size: 20PX;
}

.tituloServicio{
    color: blue;
    font-family: cursive !important;
    font-weight: 700;
}