.Menu{
    /* background-color: black; */
    /* color: white !important; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -1%;
    margin-right: -1%;
    margin-top: -1%;
    top: 0;
    z-index: 100;
}

#ListaMenu{
    margin-right: 10%;
}

#ListaMenu ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-right: 15px;
}

#ListaMenu ul li {
    margin-right: 20px;
    border-radius: 10px;
}

#ListaMenu ul li:last-child {
    margin-right: 0;
}

#LogoHeader{
    width: 300px;
    height: 140px;
    margin-left: 100px;
}

.buttonHeader{
    color: #00B2B0;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    /* background-color: blue;
    padding: 1%;
    width: 100px;
    height: 40px;
    border-radius: 30px; */
}

#fondoHeader{
    /* position: fixed; */
    top: 0;
    z-index: 100;
}

#iconoCasa{
    margin-left: 110%;
    margin-top: 0.5%;
    max-height: 10% ;
    max-width: 20%;
}
