body{
    font-family: cursive;
}
.datosTitulo{
    color: blue;
    text-align: center;
    font-family: cursive;
}

.numberphome{
    color:mediumspringgreen !important ;
    font-family: cursive;
    text-align: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 60px;
    overflow: hidden;
    margin: 10px;
    width: 300px;
}

#div{
    margin-left: -150px;    
}

.parafoColor {
    text-align: center;
    color: black !important;
}

/* .parrafoUno{
    margin-left: 50%;
    margin-right: 5%;    
} */

.docD{
    margin-top: 10%;
    width: 40% !important;
    border-radius: 50% ;
}

#parrafoPrincipal{
    color:mediumspringgreen !important;
    margin-top: 20% !important;
    margin-left: -40% !important;
    margin-right: 10%;
    text-align: start;
}

#Row2 {
    margin-top: 10%;
}

#fono{
    margin-left: 10%;
    color: blue;
}

.parrafo{
    color:mediumspringgreen;
    margin-left: 20%;
    margin-right: 10% ;
    margin-top: 1%;
}

.icons {
    width: 50%;
    margin-left: 30%;

}

.container{
    display: inline-block;
    margin: 10px;    
}

.divCard{
    margin-left: 10%;
    margin-top: 50%;
}

.buttonHeader {
    margin-left: 30%;
}
.cardBody{
    margin-left: 20%;
}


/* PORTAFOLIO */

.subTitulos{
    animation: enrollar 1s linear infinite;
}

.imagenesPorta{
    margin-top: 30%;
}

#adulto1{
    width: 40%;
    margin-top: 1%;
}

#adulto2{
    width: 40%;
}

#fondo{
    background-image: url("Fondos/tres.jpeg");
    filter: brightness(120%);
}

#redesSociales{
    margin-top: 10%;
}

.separacionIconos{
    margin-top: 10%;
    height: 40px;
    padding: 10px;
}

#cuidadSalud{
    margin-left: -20%;
}

.significados{
    color: black;
    font-family: cursive;
    margin-left: 20%;
    margin-right: 10% ;
    margin-top: 1%;
}


/* Preguntas */
.col{
    padding-left: 1%;
}

.preguntas{
    padding-left: 0%;
}

.description{
    color: black;    
}

.tituloPortafolio{
    color: blue;
}


/* MISION VISION Y VALORES */
.tituloMiViVa{
    color:blue ;
    font-family: cursive !important;
}
.subTilulosMiViVa{
    color: blue;
    font-family: cursive !important;
}
.parrafoMiViVa{
    color:mediumspringgreen !important;
}