body{
    font-family: cursive;
}

.datosTitulo{
    color: blue;
    text-align: center;
    font-family: cursive;
}



.sobreNosotros{
    color: rgb(52, 52, 234);
    margin-left: 120px;
    font-family: cursive;
    font-weight: 700;
}

.numberphome{
    color:#828282(0, 0%, 0.1%) !important;
    font-family: cursive;
    text-align: center;
    font-weight: 500 !important;
}

.card {
    border: 1px solid #ccc;
    border-radius: 50px !important;
    overflow: hidden;
    margin: 10px;
    width: 300px;
}

#div{
    margin-left: -150px;    
}

.parafoColor {
    text-align: center;
    color: black !important;
    font-size: 20px;
    
}

/* .parrafoUno{
    margin-left: 50%;
    margin-right: 5%;    
} */

.docD{  
    /* margin-top: 14%;
    margin-left: -50%;
    width: 40% !important;
    height: 30%;
    border-radius: 2%; */
    height: 50%;
    width: 30%;
}

/* #docD{

} */

#doctoraDos{
    margin-top: -15%;
    margin-left: -7%;
    height: 30%;
    width: 50%;
    border-radius: 20%;
}

#parrafoPrincipal{
    color:#2E58A6 !important;
    margin-top: -9% !important;
    margin-left: -10% !important;
    margin-right: 15%;
    text-align: justify;
}

#idTatianaParrafo{
    color:#2E58A6 !important;
    margin-left: -100%;
    margin-right: 51%;
    font-size: 20px;
    text-align: justify;
}

#Row2 {
    margin-top: 10%;
}

#fono{
    margin-left: 10%;
    /* color: #2E58A6; */
    color: #00B2B0;
}

.parrafo{
    color:#2E58A6 !important;
    margin-left: 20%;
    margin-right: 10% ;
    margin-top: 1%;
    font-size: 20px;
}

.icons {
    width: 50%;
    margin-left: 30%;
}

.container{
    display: inline-block;
    margin: 10px;    
}

.divCard{
    margin-left: 10%;
    margin-top: 50%;
}

/* .buttonHeader {
    margin-left: 30%;
    width: 100px ;
    height: 100px;
} */
.cardBody{
    margin-left: 20%;
}


/* PORTAFOLIO */

.subTitulos{
    animation: enrollar 1s linear infinite;
}

.imagenesPorta{
    margin-top: 30%;
}

#adulto1{
    width: 40%;
    margin-top: 1%;
}

#adulto2{
    width: 40%;
}


/* MISION VISION Y VALORES */

#redesSociales{
    margin-top: 10%;
}

.separacionIconos{
    margin-top: 10%;
    height: 40px;
    padding: 10px;
}

#cuidadSalud{
    margin-left: -20%;
}

#niñosMisionVision{
    margin-left: 2.5%;
    
}

/* Preguntas */

.significados{
    color: #828282(0, 0%, 0.1%) !important;
    font-family: cursive;
    margin-left: 20%;
    margin-right: 10% ;
    margin-top: 1%;
    font-size: 20px;
}


/* Preguntas */

.col{
    padding-left: 1%;
}

.preguntas{
    padding-left: 0%;
}

.tituloPortafolio{
    color: blue;
    font-family: cursive;
}

.listaPortafolio{
    color: #828282(0, 0%, 0.1%) !important;
    font-family: cursive !important;
    font-size: 20px;
}


/* MISION VISION Y VALORES */

.tituloMiViVa{
    color:blue ;
    font-family: cursive !important;
}
.subTilulosMiViVa{
    color: blue;
    font-family: cursive !important;
    font-size: 20px;
    text-align: center;
}

h2{
    text-align: center;
    
}

.parrafoMiViVa{
    color:#828282(0, 0%, 0.1%) !important;
    font-size: 20px;
    text-align: center;
}

.card {
    /* width: 500px; */
    border: 1px solid ;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: left;
}

/* .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
} */

/* .card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
} */

.card p {
    font-size: 20px;
    /* margin-bottom: 15px; */
}

.row {
    display: flex;
    /* justify-content: space-between; */
    margin-left: 300px;

}

.column {
    flex: 2; 
    padding: 10px;
    border: 1px solid #ccc;
}

/* #fondo{
    background-image: url("Fondos/tres.jpeg");
    filter: brightness(120%);
}

#fondoCardPreguntas{
    background-image: url("Fondos/tres.jpeg");
    filter: brightness(120%);
} */

/* PREGUNTAS CARD BOX */

.tituloPreguntas{
    color: blue;
    margin-left: 300px;
    font-family: cursive !important;
}

.container{
    margin-left: -4%;
    font-family: cursive; 
}

.cardPreguntas{
    border: 1px solid black;
    text-align: center;
    border-radius: 50px;
    overflow: hidden;
    margin: 10px;
    width: 360px;
    height: 300px;
}

.h3TitulosPreguntas{
    color: blue;
    font-family: cursive;
    font-size: 20px;
}
.pSutitulosPreguntas{
    color: #828282(0, 0%, 0.1%) !important;
    font-size: 18px;
}

/* #div{
    background-image: url("Fondos/tres.jpeg");
    filter: brightness(120%);
} */


/* REDES SOCIALES  */

.redesSociales{
    margin-left: 20%;
}
