h2{
    text-align: center;
    
}

p{
    font-family: cursive;
} 

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    background-color: white;
    text-align: left;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.card p {
    font-size: 16px;
    color: black;
    margin-bottom: 15px;
}

.row {
    display: flex;
    /* justify-content: space-between; */
    margin-left: 300px;
}

.column {
    flex: 1; 
    padding: 5px;
    border: 1px solid #ccc;
}

#fondo{
    margin-top: -1.3%;
    background-image: url("Fondos/tres.jpeg");
}